<html>
<head></head>
<body>
    <table>
        <% for(var i=0; i < goods.length; i++) { %>
            <tr>
              <td><%= goods[i].id %></td>
            </tr>
         <% } %>
    </table>
</body>
<html>