div(class="footer")
    div(class="container")
        div(class="row")
            div(class="col col-lg-12") Тех. підтримка Your toys за тел. +380631583940, +380672318947

script(src="https://cdn.jsdelivr.net/npm/sweetalert2@9")
script(src="scripts/nav.js")
script(src="scripts/card.js")
