div(
    class="site-nav button-primary"
)
    div(class="close-button-div")
        button(class='button-primary-outlined close-nav') X
    h3(class="cart-header") Меню
    div(id="category-list")
    h3(class="cart-header") Кошик
    div(id="cart-nav")
    div(class="")
        a(
            href="/order"
            target="_blank"
            class="order-btn_wrapper"
        )
            button(class="button-primary-outlined order-btn") Замовити